
/* h2 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
    line-height: 10px;
} */
.subject-table {
    border: 2px solid black;
    border-collapse: collapse;
    width: 100%;
}

.subject-table th, .subject-table td {
    border: 2px solid black;
    padding: 10px;
    text-align: center;
}

.subject-table thead {
    background-color: #343a40;
    color: white;
}
canvas {
    max-width: 600px;
    margin: auto;
    display: block;
}