/* Custom Colors */
:root {
    --orange: #f8951f;
    --blue: #264c84;
    --green: #8ec241;
}
.content {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
/* Reset */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}

/* Sidebar */
#sidebar {
    width: 60px; /* Initially small */
    height: 100vh;
    background: var(--blue);
    transition: width 0.3s;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto; /* Scrolling allow karega */
    overflow-x: hidden; /* X-axis par scroll na aaye */
    
    /* Hide Scrollbar */
    scrollbar-width: none; /* Firefox ke liye */
    -ms-overflow-style: none; /* IE & Edge ke liye */
}

/* Chrome, Safari, Edge ke liye */
#sidebar::-webkit-scrollbar {
    display: none;
}


#sidebar:hover {
    width: 220px; /* Expand on hover */
}

#sidebar ul {
    padding: 0;
    list-style: none;
    margin: 0;
}

#sidebar ul li {
    padding: 15px;
    display: flex;
    align-items: center;
}

#sidebar ul li a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    width: 100%;
}

#sidebar ul li a i {
    font-size: 20px;
    margin-right: 10px;
}

#sidebar ul li .text {
    display: none;
}

#sidebar:hover ul li .text {
    display: inline;
}

/* Logout Button */
.logout {
    margin-top: auto;
    background: var(--orange);
}

/* Main Content */
#content {
    margin-left: 70px;
    padding: 20px;
    width: 100%;
}
#container { 
    display: flex;
    flex-direction: row;
    justify-content: center; /* Horizontally center */
}